.random-planet-info {
    display: grid;
    grid-template-areas: 'imgplanet spinner contentinfo';
    margin: 10px 0;
    grid-area: random;
    background: rgba(31, 31, 34, 0.5);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    grid-gap: -100px;
    padding: 50px;
}

.random-planet-img {
    grid-area: imgplanet;
    align-self: center;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    justify-self: center;
    place-self: center;
}

.contentinfo {
    grid-area: contentinfo;
    align-self: center;
    justify-self: center;
    place-self: center;
    width: 400px;
}

.spinner {
    grid-area: spinner;
    align-self: center;
}