@keyframes ldio-rcuvgpiosbm {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
}
.ldio-rcuvgpiosbm div { box-sizing: border-box!important }
.ldio-rcuvgpiosbm > div {
    position: absolute;
    width: 71.10000000000001px;
    height: 71.10000000000001px;
    top: 82.95px;
    left: 82.95px;
    border-radius: 50%;
    border: 4.74px solid #000;
    border-color: #2326e1 transparent #2326e1 transparent;
    animation: ldio-rcuvgpiosbm 3.125s linear infinite;
}

.ldio-rcuvgpiosbm > div:nth-child(2), .ldio-rcuvgpiosbm > div:nth-child(4) {
    width: 56.88px;
    height: 56.88px;
    top: 90.06px;
    left: 90.06px;
    animation: ldio-rcuvgpiosbm 3.125s linear infinite reverse;
}
.ldio-rcuvgpiosbm > div:nth-child(2) {
    border-color: transparent #5e305e transparent #5e305e
}
.ldio-rcuvgpiosbm > div:nth-child(3) { border-color: transparent }
.ldio-rcuvgpiosbm > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-rcuvgpiosbm > div:nth-child(3) div:before, .ldio-rcuvgpiosbm > div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 4.74px;
    height: 4.74px;
    top: -4.74px;
    left: 28.44px;
    background: #2326e1;
    border-radius: 50%;
    box-shadow: 0 66.36px 0 0 #2326e1;
}
.ldio-rcuvgpiosbm > div:nth-child(3) div:after {
    left: -4.74px;
    top: 28.44px;
    box-shadow: 66.36px 0 0 0 #2326e1;
}

.ldio-rcuvgpiosbm > div:nth-child(4) { border-color: transparent; }
.ldio-rcuvgpiosbm > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-rcuvgpiosbm > div:nth-child(4) div:before, .ldio-rcuvgpiosbm > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 4.74px;
    height: 4.74px;
    top: -4.74px;
    left: 21.330000000000002px;
    background: #5e305e;
    border-radius: 50%;
    box-shadow: 0 52.14px 0 0 #5e305e;
}
.ldio-rcuvgpiosbm > div:nth-child(4) div:after {
    left: -4.74px;
    top: 21.330000000000002px;
    box-shadow: 52.14px 0 0 0 #5e305e;
}
.loadingio-spinner-double-ring-05mgy5ul80w9 {
    width: 237px;
    height: 237px;
    display: inline-block;
    overflow: hidden;
    background: none;
}
.ldio-rcuvgpiosbm {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-rcuvgpiosbm div { box-sizing: content-box; }
/* generated by https://loading.io/ */