.items-list {
    display: grid;
    grid-template-areas: 'img spinner info';
    background: rgba(31, 31, 34, 0.3);
    border-radius: 20px;
    align-content: center;
}
.item-list-img {
    grid-area: img;
    width: 200px;
    height: 250px;
    margin-left: 30px;
    align-self: center;
    align-items: center;
    border-radius: 10px;
}
.items {
    grid-area: info;
    align-self: center;
    margin: 20px 40px 20px 20px;
}
.items-area {
    border: thin solid white;
    border-radius: 10px;
    padding: 15px;
}

.spinner {
    grid-area: spinner;
    align-self: center;
}