.items-list {
    display: grid;
    grid-template-areas: 'img info';
    grid-auto-columns: 1fr 2fr;
    background: rgba(31, 31, 34, 0.3);
    border-radius: 20px;
    grid-gap: 20px;
    align-content: center;
}
.item-list-img {
    grid-area: img;
    width: 200px;
    height: 200px;
    margin: 35px 35px 35px 60px;
    align-self: center;
    align-items: center;
    border-radius: 10px;
}
.items {
    grid-area: info;
    align-self: center;
    margin: 20px 40px 20px 20px;
}
.items-area {
    border: thin solid white;
    border-radius: 10px;
    padding: 15px;
}